<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>AngularJs Dropbox</title>
	<link href="css/bootstrap-2.3.2.css" rel="stylesheet">
	<link href="css/bootstrap-responsive-2.3.2.css" rel="stylesheet">
</head>
<body ng-controller="MainController">
	<table>
		<tr ng-repeat="file in files">
			<td>{{file.name}}</td>
			<td>{{file.humanSize}}</td>
		</tr>
	</table>
	<div>
		<div>Dropbox - Key: <input type="text" ng-model="key" name="key"/></div>
		<div>Dropbox - Secret: <input type="text" ng-model="secret" name="secret"/></div>
		<div><input type="button" ng-click="step1()" value="step1" class="btn"/></div>
		<a href="{{url}}" target="_blank">{{url}}</a>
		<div>Dropbox - Code from URL Above: <input type="text" ng-model="code" name="code"/></div>
		<div><input type="button" ng-click="step2()" value="step2" class="btn"/></div>
		<div>Dropbox - TOKEN: <input type="text" ng-model="token" name="token"/></div>
		<div><input type="button" ng-click="listFiles()" value="List Files" class="btn"/></div>
	</div>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-resource.js"></script>
	<script type="text/javascript">

		$app=angular.module('app',['ngResource']);
	
		$app.factory('TokenGeneratorService', ['$resource', function($resource) {
		    return $resource('rest/token/:p1/:p2/', {p1: '@p1', p2: '@p2'});
		}]);

		$app.factory('FileStreamService', ['$resource', function($resource) {
		    return $resource('rest/file/:p1/:p2/', {p1: '@p1', p2: '@p2'});
		}]);
	
		var MainController = function($scope, TokenGeneratorService, FileStreamService) {
			
			$scope.files = ['teste'];
			
			$scope.key="dhemrvegc5m9ume";
			$scope.secret="eqx8t406kpsxxw3";
			$scope.token="9VHF-d78gp0AAAAAAAAAAUffVWd8Jz4NRzyQNuDZsfO0YGY0DqWbNuiIqTzJ7PGq";

			$scope.step1 = function() {
				TokenGeneratorService.get({p1:$scope.key,p2:$scope.secret}, function(token){
					$scope.url = token.value;
				});
			};
			
			$scope.step2 = function() {
				TokenGeneratorService.get({p1:$scope.code}, function(token){
					$scope.token = token.value;
				});
			};

			$scope.listFiles = function() {
				FileStreamService.get({p1:$scope.token}, function(files){
					$scope.files = files;
				});
			};

		};
		
	</script>
</body>
</html>